@import url('./playButton.css');
@import url('./settingsButton.css');
@import url('./backButton.css');

* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-color:yellowgreen;
}